<div class="main_top_right_team_player_right" alt=<%= teamname %>>
  <div class="main_top_right_team_player_right_slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><%= image_tag "1#{teamname}",alt:"Swiper01" %></div>
        <div class="swiper-slide">
          <div id="teamvideo_<%= teamname %>">
            <iframe src_data="https://www.youtube.com/embed/<%=team_youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div id="video_cover">
            <%= image_tag "http://img.youtube.com/vi/#{team_youtube_url}/hqdefault.jpg",alt:"Swiper02" %>
          </div>
          <%= image_tag "youtube_logo" , class:"youtube_logo" %>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <div class="main_top_right_team_player_right_item">
    <div id="main_top_right_team_player_right_item<%=teamnumber%>">
      <li></li>
    </div>
  </div>
</div>