<div class="head">
  <div class="head_left">
    <%= link_to("/") do %>
      <div class="head_left_top">
        <%=image_tag "favicon.ico"%>
        <p>Rich NBA</p>
      </div>
      <div class="head_left_bottom">
        <p>賢くnbaグッズを探そう</p>
      </div>
    <% end %>
  </div>
  <div class="head_center">
    <div class="head_center_top">
      <%= form_tag(search_path,method: :get) do %>
        <% if defined? search_keyword then %>
          <input type="search" name="keyword" placeholder="例）kyrie" value="<%=search_keyword%>">
        <% else %>
          <input type="search" name="keyword" placeholder="kyrie">
        <% end %>
        <%= button_tag type:"submit", class:"search_button" do %>
          <%= content_tag(:i, '', class: 'fab fa-searchengin fa-3x') %>
        <% end %>
      <% end %>
    </div>
    <div class="head_center_bottom">
      <span>|</span><%= link_to "アデドクンボ", search_path(keyword:"アデドクンボ") %>
      <span>|</span><%= link_to "レナード", search_path(keyword:"レナード") %>
      <span>|</span><%= link_to "レブロン", search_path(keyword:"レブロン") %>
      <span>|</span><%= link_to "カリー", search_path(keyword:"カリー") %>
      <span>|</span><%= link_to "ハーデン", search_path(keyword:"ハーデン") %>
      <span>|</span><%= link_to "リラード", search_path(keyword:"リラード") %>
      <span>|</span>
    </div>
  </div>
  <div class="head_right">
    <div class="head_right_top">
      <div class="head_right_top_logo">
        <%= link_to("/info", id:"link") do %>
          <%= content_tag(:i, '', class: 'fas fa-comment-dots fa-3x') do %>
            <%= content_tag(:i, '', class: 'fas fa-sync-alt fa-1x new_comment') %>
            <p>お知らせ</p>
          <% end %>
        <% end %>
        <div class="head_right_top_logo_hover" id="headauto">
          <%= render partial: "item/index_header_info" %>
        </div> 
      </div>
      <div class="head_right_top_logo">
        <%= link_to(mypage_checkitem_path,method: :post, id:"link") do %>
          <%= content_tag(:i, '', class: 'fas fa-clipboard-check fa-3x') do %>
            <p>取り置きグッズ</p>
          <% end %>
        <% end %>
        <div class="head_right_top_logo_hover" id="headauto">
          <%= render partial: "item/index_header_goods" %>
        </div> 
      </div>
      <div class="head_right_top_logo">
        <% if user_signed_in? %>
          <%= content_tag(:i, '', class: 'fas fa-user-check fa-3x') do %>
            <p>ログイン中</p>
          <% end %>
          <div class="head_right_top_logo_hover three">
            <div class="head_right_top_logo_hover_log">
              <%= link_to "マイページ",mypage_path, class: "log-button" %>
            </div>
            <div class="head_right_top_logo_hover_log">
              <%= link_to "ログアウト",destroy_user_session_path,method: :delete, class: "log-button" %>
            </div>
          </div> 
        <% else %>
          <%= content_tag(:i, '', class: 'fas fa-user-times fa-3x') do %>
            <p>未ログイン中</p>
          <% end %>
          <div class="head_right_top_logo_hover three">
            <div class="head_right_top_logo_hover_log">
              <%= button_to "新規登録",{controller: 'devise/registrations', action: 'new'}, {method: :get, class: "log-button"} %>
              <%= button_to "ログイン画面",{controller: 'devise/sessions', action: 'new'}, {method: :get, class: "log-button"} %>
            </div>
            <div class="head_right_top_logo_hover_log mini_none">
              <%= form_tag(user_session_path, method: :post) do %>
                <input type="email" placeholder="email" name="user[email]" required>
                <input type="password" placeholder="password" name="user[password]" required>
                <button class="log-button" type="submit" >ログイン</button>
              <% end %>
              <%= link_to "パスワードお忘れの方", new_user_password_path %>
            </div>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
  <div id="page_top"><a href="#"></a></div>
</div>