<div class="top_popup">
  <div class="top_popup_main">
    <p class="title">全世界nbaグッズ取り扱いサイト</p>
    <div class="top_popup_main_ecsites">
      <div class="top_popup_main_ecsites_left">
        <p>対応ECサイト：</p>
      </div>
      <div class="top_popup_main_ecsites_right">
        <% Ecsite.where.not("name LIKE ?", "(未対応)%").order(name: "ASC").each do |ecsite| %>
          <li>
            <%= link_to "#{ecsite.siteurl}",target: :_blank do %>
              <%= image_tag "#{ecsite.imageurl}" %>
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
    <div class="top_popup_main_use">
      <div class="top_popup_main_use_left">
        <p>使い方：</p>
      </div>
      <div class="top_popup_main_use_right">
        <p>(1)対応ECサイト内からnbaグッズを検索</p>
        <%= image_tag "use1-2" %>
        <p>(2)買いたい商品が決まれば、そのサイトへジャンプ！</p>
        <%= image_tag "use2" %>
        <p>(3)取り置きしたい商品は取り置きグッズへ(ログイン後使用可能)</p>
        <%= image_tag "use3" %>
        <p>(4)チームランキング・スタッツを確認</p>
        <%= image_tag "use4" %>
        <p>(5)チームスタッツ、直近の試合ハイライトを視聴</p>
        <%= image_tag "use5-2" %>
        <%= image_tag "use5-1" %>
      </div>
    </div>
  </div>
  <div class="top_popup_bottom">
    <% if user_signed_in? %>
      <input type="checkbox">本日中は、非表示にする。(ログイン後、使用可能となります！)
    <% else %>
      <input type="checkbox" disabled>本日中は、非表示にする。(ログイン後、使用可能となります！)
    <% end %>
  </div>
  <i class="fas fa-times-circle"></i>
</div>