<div class="main_top_left">
  <ul>
    <div class="main_top_left_team">
      <li><%= image_tag "nba_west" %><p>ウェスタンカンファレンス</p></li>
    </div>
    <% Team.where(conference:"WEST").order(ranking: "ASC").each_with_index do |team,rank| %>
      <div class="main_top_left_team" alt="<%=team.id%>">
        <a href="/search?team=<%=team.id%>"><li id="nba_map<%=team.id%>">
          <%=image_tag"#{team.imageurl}"%>
          <% if rank == 0 || rank == 1 || rank == 2 then %>
            <%=image_tag"#{rank+1}th",class:"rank"%>
          <% end %>
          <p id="rank"><%=team.name.gsub(/・.*/,"")%><br><%=team.name.gsub(/.*・/,"")%></p>
        </li></a>
        <div class="main_top_left_team_player">
          <%= render partial: "index_main_player", locals: {teamname: team.en_name,teamnumber:team.id,team_youtube_url:team.youtube_url} %>
          <div class="main_top_left_team_player_left">
            <div class="main_top_right_team_player_left_center">
              <% Player.where(team_id: team.id).order(salary: "DESC").each do |player| %>
                <a href="/search?player=<%=player.id%>">
                  <div class="main_top_right_team_player_left_center_star">
                    <h3 id="<%=team.en_name%><%=player.id%>"><%=player.name.gsub(/ .*/,"")%><br><%=player.name.gsub(/.* /,"")%></h3>
                  </div>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>
<%= image_tag "nba_teamlogo.png" ,usemap:"#nba",class:"main_top_center" %>
<map name="nba" >
  <area shape="rect" class="nba_map16" alt="ダラス・マーベリックス" coords="425,321,515,337" href="/search?team=16">
  <area shape="rect" class="nba_map17" alt="ヒューストン・ロケッツ" coords="498,413,557,430" href="/search?team=17">
  <area shape="rect" class="nba_map18" alt="メンフィス・グリズリーズ" coords="640,270,723,287" href="/search?team=18">
  <area shape="rect" class="nba_map19" alt="ニューオーリンズ・ペリカンズ" coords="573,365,650,381" href="/search?team=19">
  <area shape="rect" class="nba_map20" alt="サンアントニオ・スパーズ" coords="417,388,480,405" href="/search?team=20">
  <area shape="rect" class="nba_map21" alt="デンバー・ナゲッツ" coords="366,195,428,215" href="/search?team=21">
  <area shape="rect" class="nba_map22" alt="ミネソタ・ティンバーウルブズ" coords="465,75,575,92" href="/search?team=22">
  <area shape="rect" class="nba_map23" alt="オクラホマシティ・サンダー" coords="465,260,535,278" href="/search?team=23">
  <area shape="rect" class="nba_map24" alt="ポートランド・トレイルブレイザーズ" coords="187,70,310,87" href="/search?team=24">
  <area shape="rect" class="nba_map25" alt="ユタ・ジャズ" coords="288,157,337,175" href="/search?team=25">
  <area shape="rect" class="nba_map26" alt="ゴールデンステート・ウォリアーズ" coords="165,203,258,220" href="/search?team=26">
  <area shape="rect" class="nba_map27" alt="ロサンゼルス・クリッパーズ" coords="160,272,240,287" href="/search?team=27">
  <area shape="rect" class="nba_map28" alt="ロサンゼルス・レイカーズ" coords="175,310,250,327" href="/search?team=28">
  <area shape="rect" class="nba_map29" alt="フェニックス・サンズ" coords="280,282,330,300" href="/search?team=29">
  <area shape="rect" class="nba_map30" alt="サクラメント・キングス" coords="130,158,192,175" href="/search?team=30">
  <area shape="rect" class="nba_map1" alt="ボストン・セルティックス" coords="780,108,865,123" href="/search?team=1">
  <area shape="rect" class="nba_map2" alt="ブルックリン・ネッツ" coords="818,148,865,165" href="/search?team=2">
  <area shape="rect" class="nba_map3" alt="ニューヨーク・ニックス" coords="758,130,815,149" href="/search?team=3">
  <area shape="rect" class="nba_map4" alt="フィラデルフィア・セブンティシクサーズ" coords="745,155,805,172" href="/search?team=4">
  <area shape="rect" class="nba_map5" alt="トロント・ラプターズ" coords="696,98,765,113" href="/search?team=5">
  <area shape="rect" class="nba_map6" alt="シカゴ・ブルズ" coords="566,170,628,185" href="/search?team=6">
  <area shape="rect" class="nba_map7" alt="クリーブランド・キャバリアーズ" coords="678,190,762,207" href="/search?team=7">
  <area shape="rect" class="nba_map8" alt="デトロイト・ピストンズ" coords="655,149,725,166" href="/search?team=8">
  <area shape="rect" class="nba_map9" alt="インディアナ・ペイサーズ" coords="597,212,673,229" href="/search?team=9">
  <area shape="rect" class="nba_map10" alt="ミルウォーキー・バックス" coords="566,130,628,147" href="/search?team=10">
  <area shape="rect" class="nba_map11" alt="アトランタ・ホークス" coords="693,340,747,357" href="/search?team=11">
  <area shape="rect" class="nba_map12" alt="シャーロット・ホーネッツ" coords="788,266,865,284" href="/search?team=12">
  <area shape="rect" class="nba_map13" alt="マイアミ・ヒート" coords="733,435,787,450" href="/search?team=13">
  <area shape="rect" class="nba_map14" alt="オーランド・マジック" coords="703,395,757,412" href="/search?team=14">
  <area shape="rect" class="nba_map15" alt="ワシントン・ウィザーズ" coords="768,215,837,232" href="/search?team=15">
</map>
<div class="main_top_right">
  <ul>
    <div class="main_top_right_team">
      <li><p>イースタンカンファレンス</p><%= image_tag "nba_east" %></li>
    </div>
    <% Team.where(conference:"EAST").order(ranking: "ASC").each_with_index do |team,rank| %>
      <div class="main_top_right_team" alt="<%=team.id%>">
        <a href="/search?team=<%=team.id%>"><li id="nba_map<%=team.id%>">
          <% if rank == 0 || rank == 1 || rank == 2 then %>
            <p id="rank"><%=team.name.gsub(/・.*/,"")%><br><%=team.name.gsub(/.*・/,"")%></p>
            <%=image_tag"#{rank+1}th",class:"rank"%>
          <% else %>
            <p><%=team.name.gsub(/・.*/,"")%><br><%=team.name.gsub(/.*・/,"")%></p>
          <% end %>
          <%=image_tag"#{team.imageurl}"%>
        </li></a>
        <div class="main_top_right_team_player">
          <div class="main_top_right_team_player_left">
            <div class="main_top_right_team_player_left_center">
              <% Player.where(team_id: team.id).order(salary: "DESC").each do |player| %>
                <a href="/search?player=<%=player.id%>">
                  <div class="main_top_right_team_player_left_center_star">
                    <h3 id="<%=team.en_name%><%=player.id%>"><%=player.name.gsub(/ .*/,"")%><br><%=player.name.gsub(/.* /,"")%></h3>
                  </div>
                </a>
              <% end %>
            </div>
          </div>
          <%= render partial: "index_main_player", locals: {teamname: team.en_name,teamnumber:team.id,team_youtube_url:team.youtube_url} %>
        </div>
      </div>
    <% end %>
  </ul>
</div>