<div class="main_top_left">
  <ul>
    <div class="main_top_right_team">
      <li><%= image_tag "nba_west" %><p>イースタンカンファレンス</p></li>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map1">
        <%=image_tag"http://urx.red/lVlO"%><%=image_tag"1th",class:"rank"%><p id="rank">ダラス<br>マーベリックス</p>
      </li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "16").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Mavericks<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map2">
        <%= image_tag "http://urx.red/gGAV" %><%=image_tag"2th",class:"rank"%><p id="rank">ヒューストン<br>ロケッツ</p>
      </li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "17").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Rockets<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map3">
        <%= image_tag "http://urx.red/UdoO" %><%=image_tag"3th",class:"rank"%><p id="rank">メンフィス<br>グリズリーズ</p>
      </li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "18").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Grizzlies<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map4"><%= image_tag "http://urx.red/nLiv" %><p>ニューオーリンズ<br>ペリカンズ</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "19").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Pelicans<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map5"><%= image_tag "http://urx.red/aVAS" %><p>サンアントニオ<br>スパーズ</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "20").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Spurs<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map6"><%= image_tag "http://urx.red/U77R" %><p>デンバー<br>ナゲッツ</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "21").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Nuggets<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map7"><%= image_tag "http://urx.red/wfpy" %><p>ミネソタ<br>ティンバーウルブズ</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "22").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Timberwolves<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map8"><%= image_tag "http://urx.red/qRwr" %><p>オクラホマシティ<br>サンダー</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "23").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Thunder<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map9"><%= image_tag "http://urx.red/Xpp4" %><p>ポートランド<br>トレイルブレイザーズ</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "24").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Blazers<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map10"><%= image_tag "http://urx.red/ZJ6i" %><p>ユタ<br>ジャズ</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "25").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Jazz<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map11"><%= image_tag "http://urx.red/vLJF" %><p>ゴールデンステート<br>ウォリアーズ</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "26").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Warriors<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map12"><%= image_tag "http://urx.red/vs6s" %><p>ロサンゼルス<br>クリッパーズ</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "27").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Clippers<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map13"><%= image_tag "http://urx.red/vS1X" %><p>ロサンゼルス<br>レイカーズ</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "28").each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Lakers<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map14"><%= image_tag "http://urx.red/PaW1" %><p>フェニックス<br>サンズ</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "29").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Suns<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
    <div class="main_top_left_team">
      <a href="#"><li id="nba_map15"><%= image_tag "http://urx.red/KeWS" %><p>サクラメント<br>キングス</p></li></a>
      <div class="main_top_left_team_player">
        <div class="main_top_left_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "30").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Kings<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="main_top_left_team_player_right"></div>
      </div>
    </div>
  </ul>
</div>
<%= image_tag "nba_teamlogo.png" ,usemap:"#nba",class:"main_top_center" %>
<map name="nba" >
  <area shape="rect" class="nba_map1" alt="ダラス・マーベリックス" coords="425,321,515,337" href="#">
  <area shape="rect" class="nba_map2" alt="ヒューストン・ロケッツ" coords="498,413,557,430" href="#">
  <area shape="rect" class="nba_map3" alt="メンフィス・グリズリーズ" coords="640,270,723,287" href="#">
  <area shape="rect" class="nba_map4" alt="ニューオーリンズ・ペリカンズ" coords="573,365,650,381" href="#">
  <area shape="rect" class="nba_map5" alt="サンアントニオ・スパーズ" coords="417,388,480,405" href="#">
  <area shape="rect" class="nba_map6" alt="デンバー・ナゲッツ" coords="366,195,428,215" href="#">
  <area shape="rect" class="nba_map7" alt="ミネソタ・ティンバーウルブズ" coords="465,75,575,92" href="#">
  <area shape="rect" class="nba_map8" alt="オクラホマシティ・サンダー" coords="465,260,535,278" href="#">
  <area shape="rect" class="nba_map9" alt="ポートランド・トレイルブレイザーズ" coords="187,70,310,87" href="#">
  <area shape="rect" class="nba_map10" alt="ユタ・ジャズ" coords="288,157,337,175" href="#">
  <area shape="rect" class="nba_map11" alt="ゴールデンステート・ウォリアーズ" coords="165,203,258,220" href="#">
  <area shape="rect" class="nba_map12" alt="ロサンゼルス・クリッパーズ" coords="160,272,240,287" href="#">
  <area shape="rect" class="nba_map13" alt="ロサンゼルス・レイカーズ" coords="175,310,250,327" href="#">
  <area shape="rect" class="nba_map14" alt="フェニックス・サンズ" coords="280,282,330,300" href="#">
  <area shape="rect" class="nba_map15" alt="サクラメント・キングス" coords="130,158,192,175" href="#">
  <area shape="rect" class="nba_map16" alt="ボストン・セルティックス" coords="780,108,865,123" href="#">
  <area shape="rect" class="nba_map17" alt="ブルックリン・ネッツ" coords="818,148,865,165" href="#">
  <area shape="rect" class="nba_map18" alt="ニューヨーク・ニックス" coords="758,130,815,149" href="#">
  <area shape="rect" class="nba_map19" alt="フィラデルフィア・セブンティシクサーズ" coords="745,155,805,172" href="#">
  <area shape="rect" class="nba_map20" alt="トロント・ラプターズ" coords="696,98,765,113" href="#">
  <area shape="rect" class="nba_map21" alt="シカゴ・ブルズ" coords="566,170,628,185" href="#">
  <area shape="rect" class="nba_map22" alt="クリーブランド・キャバリアーズ" coords="678,190,762,207" href="#">
  <area shape="rect" class="nba_map23" alt="デトロイト・ピストンズ" coords="655,149,725,166" href="#">
  <area shape="rect" class="nba_map24" alt="インディアナ・ペイサーズ" coords="597,212,673,229" href="#">
  <area shape="rect" class="nba_map25" alt="ミルウォーキー・バックス" coords="566,130,628,147" href="#">
  <area shape="rect" class="nba_map26" alt="アトランタ・ホークス" coords="693,340,747,357" href="#">
  <area shape="rect" class="nba_map27" alt="シャーロット・ホーネッツ" coords="788,266,865,284" href="#">
  <area shape="rect" class="nba_map28" alt="マイアミ・ヒート" coords="733,435,787,450" href="#">
  <area shape="rect" class="nba_map29" alt="オーランド・マジック" coords="703,395,757,412" href="#">
  <area shape="rect" class="nba_map30" alt="ワシントン・ウィザーズ" coords="768,215,837,232" href="#">
</map>
<div class="main_top_right">
  <ul>
    <div class="main_top_right_team">
      <li><p>ウェスタンカンファレンス</p><%= image_tag "nba_east" %></li>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map16">
        <p id="rank">ボストン<br>セルティックス</p><%=image_tag"1th",class:"rank"%><%= image_tag "http://urx.red/VbS8" %>
      </li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "1").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Celtics<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map17">
        <p id="rank">ブルックリン<br>ネッツ</p><%=image_tag"2th",class:"rank"%><%= image_tag "http://urx.red/d7vQ" %>
      </li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "2").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Nets<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map18">
        <p id="rank">ニューヨーク<br>ニックス</p><%=image_tag"3th",class:"rank"%><%= image_tag "http://urx.red/VEdg" %>
      </li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "3").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Knicks<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map19"><p>フィラデルフィア<br>セブンティシクサーズ</p><%= image_tag "http://urx.red/Ww0w" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "4").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="76ers<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map20"><p>トロント<br>ラプターズ</p><%= image_tag "http://urx.red/59CW" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "5").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Raptors<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map21"><p>シカゴ<br>ブルズ</p><%= image_tag "http://urx.red/P0WA" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "6").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Bulls<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map22"><p>クリーブランド<br>キャバリアーズ</p><%= image_tag "http://urx.red/vz2k" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "7").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Cavaliers<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map23"><p>デトロイト<br>ピストンズ</p><%= image_tag "http://urx.red/Rg31" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "8").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Pistons<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map24"><p>インディアナ<br>ペイサーズ</p><%= image_tag "http://urx.red/ZvmE" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "9").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Pacers<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map25"><p>ミルウォーキー<br>バックス</p><%= image_tag "http://urx.red/qhwZ" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "10").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Bucks<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map26"><p>アトランタ<br>ホークス</p><%= image_tag "http://urx.red/AeVe" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "11").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Hawks<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map27"><p>シャーロット<br>ホーネッツ</p><%= image_tag "http://urx.red/MBVU" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "12").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Hornets<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map28"><p>マイアミ<br>ヒート</p><%= image_tag "http://urx.red/SkzV" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "13").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Heat<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map29"><p>オーランド<br>マジック</p><%= image_tag "http://urx.red/VpMZ" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right"></div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "14").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Magic<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main_top_right_team">
      <a href="#"><li id="nba_map30"><p>ワシントン<br>ウィザーズ</p><%= image_tag "http://urx.red/yW3U" %></li></a>
      <div class="main_top_right_team_player">
        <div class="main_top_right_team_player_right">
          <div id="player_video"></div>
        </div>
        <div class="main_top_right_team_player_hide">
        </div>
        <div class="main_top_right_team_player_left">
          <div class="main_top_right_team_player_left_center">
            <% Player.where(team_id: "15").order(:name).each do |player| %>
              <div class="main_top_right_team_player_left_center_star">
                <h3 id="Wizards<%= player.id %>"><%= player.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>