<div class="head">
  <div class="head_left">
    <%= link_to("/") do %>
      <div class="head_left_top">
        <%=image_tag "favicon.ico"%>
        <p>Rich NBA</p>
      </div>
      <div class="head_left_bottom">
        <p>賢くnbaグッズを探そう</p>
      </div>
    <% end %>
  </div>
  <div class="head_center">
    <div class="head_center_top">
      <%= form_tag(search_path) do %>
        <input type="search" name="search" placeholder="kyrie">
        <%= button_tag type:"submit", class:"search_button" do %>
          <%= content_tag(:i, '', class: 'fab fa-searchengin fa-3x') %>
        <% end %>
      <% end %>
    </div>
    <div class="head_center_bottom">
      <span>|</span><%= link_to "アデドクンボ", {controller: "item", action: "search", search:"アデドクンボ"}, method: :post %>
      <span>|</span><%= link_to "レナード", {controller: "item", action: "search", search:"レナード"}, method: :post %>
      <span>|</span><%= link_to "レブロン", {controller: "item", action: "search", search:"レブロン"}, method: :post %>
      <span>|</span><%= link_to "カリー", {controller: "item", action: "search", search:"カリー"}, method: :post %>
      <span>|</span><%= link_to "ハーデン", {controller: "item", action: "search", search:"ハーデン"}, method: :post %>
      <span>|</span><%= link_to "リラード", {controller: "item", action: "search", search:"リラード"}, method: :post %>
      <span>|</span>
    </div>
  </div>
  <div class="head_right">
    <div class="head_right_top">
      <div class="head_right_top_logo">
        <%= link_to("/info") do %>
          <%= content_tag(:i, '', class: 'fas fa-comment-dots fa-3x') do %>
            <%= content_tag(:i, '', class: 'fas fa-sync-alt fa-1x new_comment') %>
            <p>お知らせ</p>
          <% end %>
        <% end %>
        <div class="head_right_top_logo_hover">
          <%= render partial: "item/index_header_info" %>
        </div> 
      </div>
      <div class="head_right_top_logo">
        <%= link_to("/mypage/checkitem") do %>
          <%= content_tag(:i, '', class: 'fas fa-clipboard-check fa-3x') do %>
            <p>取り置きグッズ</p>
          <% end %>
        <% end %>
        <div class="head_right_top_logo_hover">
          <%= render partial: "item/index_header_goods" %>
        </div> 
      </div>
      <div class="head_right_top_logo">
        <% if user_signed_in? %>
          <%= content_tag(:i, '', class: 'fas fa-user-check fa-3x') do %>
            <p>ログイン中</p>
          <% end %>
          <div class="head_right_top_logo_hover">
            <div class="head_right_top_logo_hover_log">
              <%= button_to "マイページ",{controller: 'mypage', action: 'index'}, {method: :get, class: "log-button"} %>
            </div>
            <div class="head_right_top_logo_hover_log">
              <%= button_to "ログアウト",{controller: 'devise/sessions', action: 'destroy'}, {method: :delete, class: "log-button"} %>
            </div>
          </div> 
        <% else %>
          <%= content_tag(:i, '', class: 'fas fa-user-times fa-3x') do %>
            <p>未ログイン中</p>
          <% end %>
          <div class="head_right_top_logo_hover">
            <div class="head_right_top_logo_hover_log">
              <%= button_to "新規登録",{controller: 'devise/registrations', action: 'new'}, {method: :get, class: "log-button"} %>
            </div>
            <div class="head_right_top_logo_hover_log">
              <%= form_tag(user_session_path, method: :post) do %>
                <input type="email" placeholder="email" name="user[email]" required>
                <input type="password" placeholder="password" name="user[password]" required>
                <button class="log-button" type="submit" >ログイン</button>
              <% end %>
              <%= link_to "パスワードお忘れの方", new_user_password_path %>
            </div>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
</div>