<div class="main_category">
  <div class="main_category_title">人気の商品</div>
  <div class="main_category_items">
    <a href="#"><%= image_tag "https://pbs.twimg.com/media/D01Br_2X4AIZl1d.jpg" %></a>
    <div class="main_category_items_detail">
      ¥2,500
    </div>
  </div>
  <div class="main_category_items">
    <a href="https://shop.warriors.com/mens-nike-royal-golden-state-warriors-2019/20-custom-swingman-jersey-icon-edition/p-36819685143895+z-9350-159402213?_ref=p-GALP:m-GRID:i-r0c0:po-0" target="_blank"><%= image_tag "https://images.footballfanatics.com/FFImage/thumb.aspx?i=/productimages/_3377000/altimages/ff_3377356-f8edc6a3ef68748c049calt1_full.jpg&w=2000" %></a>
    <div class="main_category_items_detail">
      ¥2,500
    </div>
  </div>
  <div class="main_category_items">
    <%= image_tag "https://pbs.twimg.com/media/D01Br_2X4AIZl1d.jpg" %>
    <div class="main_category_items_detail">
      <%= image_tag "http://urx.red/KeWS" %>¥2,500
    </div>
  </div>
  <div class="main_category_items">
    <%= image_tag "https://pbs.twimg.com/media/D01Br_2X4AIZl1d.jpg" %>
    <div class="main_category_items_detail">
      ¥2,500
    </div>
  </div>
  <div class="main_category_items">
    <%= image_tag "https://pbs.twimg.com/media/D01Br_2X4AIZl1d.jpg" %>
    <div class="main_category_items_detail">
      ¥2,500
    </div>
  </div>
  <div class="main_category_items">
    <%= image_tag "https://pbs.twimg.com/media/D01Br_2X4AIZl1d.jpg" %>
    <div class="main_category_items_detail">
      ¥2,500
    </div>
  </div>
  <div class="main_category_items">
    <%= image_tag "https://pbs.twimg.com/media/D01Br_2X4AIZl1d.jpg" %>
    <div class="main_category_items_detail">
      ¥2,500
    </div>
  </div>
</div>