<div class="contents">
  <%= render partial: "index_header" %>
  <div class="main">
    <div class="main_top">
      <%= render partial: "index_main_team" %>
    </div>
    <%= render partial: "index_category_items_StatsLeader" %>
    <%= render partial: "index_category_items_popular" %>
  </div>
  <% unless current_user.popupmessage_flg == true %>
    <%= render partial: "index_popup" %>
  <% end %>
</div>
<script>
var swiper = new Swiper('.swiper-container', {
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  loop: true,
  // autoplay: {
  //   delay: 3000,
  //   disableOnInteraction: true
  // },
  pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: true,
    },
});
</script>

