<div class="contents">
  <%= render partial: "index_header" %>
  <div class="main">
    <div class="main_top">
      <div class="main_top_left">
        <ul>
          <a href="#"><li><%= image_tag "http://urx.red/lVlO" %><p>ダラス<br>マーベリックス</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/gGAV" %><p>ヒューストン<br>ロケッツ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/UdoO" %><p>メンフィス<br>グリズリーズ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/nLiv" %><p>ニューオーリンズ<br>ペリカンズ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/aVAS" %><p>サンアントニオ<br>スパーズ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/U77R" %><p>デンバー<br>ナゲッツ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/wfpy" %><p>ミネソタ<br>ティンバーウルブズ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/qRwr" %><p>オクラホマシティ<br>サンダー</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/Xpp4" %><p>ポートランド<br>トレイルブレイザーズ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/ZJ6i" %><p>ユタ<br>ジャズ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/vLJF" %><p>ゴールデンステート<br>ウォリアーズ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/vs6s" %><p>ロサンゼルス<br>クリッパーズ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/vS1X" %><p>ロサンゼルス<br>レイカーズ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/PaW1" %><p>フェニックス<br>サンズ</p></li></a>
          <a href="#"><li><%= image_tag "http://urx.red/KeWS" %><p>サクラメント<br>キングス</p></li></a>
        </ul>
      </div>
      <%= image_tag "nba_teamlogo.png" ,usemap:"#nba" %>
      <map name="nba" >
        <area shape="rect" alt="ダラス・マーベリックス" coords="425,291,515,307" href="#">
        <area shape="rect" alt="ヒューストン・ロケッツ" coords="498,375,557,392" href="#">
        <area shape="rect" alt="メンフィス・グリズリーズ" coords="640,246,723,263" href="#">
        <area shape="rect" alt="ニューオーリンズ・ペリカンズ" coords="573,332,650,349" href="#">
        <area shape="rect" alt="サンアントニオ・スパーズ" coords="417,352,480,369" href="#">
        <area shape="rect" alt="デンバー・ナゲッツ" coords="366,178,428,195" href="#">
        <area shape="rect" alt="ミネソタ・ティンバーウルブズ" coords="465,68,575,85" href="#">
        <area shape="rect" alt="オクラホマシティ・サンダー" coords="465,237,535,254" href="#">
        <area shape="rect" alt="ポートランド・トレイルブレイザーズ" coords="187,63,310,80" href="#">
        <area shape="rect" alt="ユタ・ジャズ" coords="288,143,337,160" href="#">
        <area shape="rect" alt="ゴールデンステート・ウォリアーズ" coords="165,185,258,201" href="#">
        <area shape="rect" alt="ロサンゼルス・クリッパーズ" coords="160,247,240,263" href="#">
        <area shape="rect" alt="ロサンゼルス・レイカーズ" coords="175,282,250,298" href="#">
        <area shape="rect" alt="フェニックス・サンズ" coords="280,257,330,274" href="#">
        <area shape="rect" alt="サクラメント・キングス" coords="130,144,192,160" href="#">

        <area shape="rect" alt="ボストン・セルティックス" coords="573,332,650,349" href="#">
        <area shape="rect" alt="ブルックリン・ネッツ" coords="573,332,650,349" href="#">
        <area shape="rect" alt="ニューヨーク・ニックス" coords="573,332,650,349" href="#">
        <area shape="rect" alt="フィラデルフィア・セブンティシクサーズ" coords="573,332,650,349" href="#">
        <area shape="rect" alt="トロント・ラプターズ" coords="573,332,650,349" href="#">
        <area shape="rect" alt="シカゴ・ブルズ" coords="573,332,650,349" href="#">
        <area shape="rect" alt="クリーブランド・キャバリアーズ" coords="573,332,650,349" href="#">
        <area shape="rect" alt="デトロイト・ピストンズ" coords="573,332,650,349" href="#">
        <area shape="rect" alt="インディアナ・ペイサーズ" coords="573,332,650,349" href="#">
        <area shape="rect" alt="ミルウォーキー・バックス" coords="573,332,650,349" href="#">
        <area shape="rect" alt="アトランタ・ホークス" coords="573,332,650,349" href="#">
        <area shape="rect" alt="シャーロット・ホーネッツ" coords="573,332,650,349" href="#">
        <area shape="rect" alt="マイアミ・ヒート" coords="573,332,650,349" href="#">
        <area shape="rect" alt="オーランド・マジック" coords="573,332,650,349" href="#">
        <area shape="rect" alt="ワシントン・ウィザーズ" coords="573,332,650,349" href="#">
      </map>
      <div class="main_top_right">
        <ul>
          <a href="#"><li><p>ボストン<br>セルティックス</p><%= image_tag "http://urx.red/VbS8" %></li></a>
          <a href="#"><li><p>ブルックリン<br>ネッツ</p><%= image_tag "http://urx.red/d7vQ" %></li></a>
          <a href="#"><li><p>ニューヨーク<br>ニックス</p><%= image_tag "http://urx.red/VEdg" %></li></a>
          <a href="#"><li><p>フィラデルフィア<br>セブンティシクサーズ</p><%= image_tag "http://urx.red/Ww0w" %></li></a>
          <a href="#"><li><p>トロント<br>ラプターズ</p><%= image_tag "http://urx.red/59CW" %></li></a>
          <a href="#"><li><p>シカゴ<br>ブルズ</p><%= image_tag "http://urx.red/P0WA" %></li></a>
          <a href="#"><li><p>クリーブランド<br>キャバリアーズ</p><%= image_tag "http://urx.red/vz2k" %></li></a>
          <a href="#"><li><p>デトロイト<br>ピストンズ</p><%= image_tag "http://urx.red/Rg31" %></li></a>
          <a href="#"><li><p>インディアナ<br>ペイサーズ</p><%= image_tag "http://urx.red/ZvmE" %></li></a>
          <a href="#"><li><p>ミルウォーキー<br>バックス</p><%= image_tag "http://urx.red/qhwZ" %></li></a>
          <a href="#"><li><p>アトランタ<br>ホークス</p><%= image_tag "http://urx.red/AeVe" %></li></a>
          <a href="#"><li><p>シャーロット<br>ホーネッツ</p><%= image_tag "http://urx.red/MBVU" %></li></a>
          <a href="#"><li><p>マイアミ<br>ヒート</p><%= image_tag "http://urx.red/SkzV" %></li></a>
          <a href="#"><li><p>オーランド<br>マジック</p><%= image_tag "http://urx.red/VpMZ" %></li></a>
          <a href="#"><li><p>ワシントン<br>ウィザーズ</p><%= image_tag "http://urx.red/yW3U" %></li></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer">
  </div>
</div>