<%= render partial: "index_header",locals: { search_keyword: @keyword } %>
<div class="search">
  <div class="search_sidebar">
    <%= params[:keyword] %>
  </div>
  <div class="search_result">
    <%= search_form_for @search, url: search_path ,html: { method: :get } do |f| %>
      <div class="search_result_head">
        <div class="search_result_head_sort">
          <input type="hidden" name="keyword" value="<%=params[:keyword]%>">
          <%= f.select( :sorts, { '並び替える': 'id desc', '人気の高い順': 'click desc', '価格の高い順': 'price desc', '価格の安い順': 'price asc'} , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} ) %>
        </div>
      </div>
    <% end %>
    <div class="search_result_main">
      <%= render partial: "search_item" %>
    </div>
  </div>
</div>
