<%= render partial: "item/index_header" %>
<div class="sign_in">
  <div class="sign_in_cover">
    <div class="sign_in_cover_center">
      <div class="sign_in_cover_center_top">
        <p>ログイン</p>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%=f.email_field :email,autofocus:true,autocomplete:"email",placeholder:"Eメールアドレス",class:"field_item",required:"true" %>
        </div>
        <div class="field">
          <%= f.password_field :password, placeholder:"パスワード",class:"field_item",id:"password",required:"true" %>
          <input type="checkbox" id="password-check" />パスワードを表示する
        </div>
        <div class="field">
          <%= link_to "パスワードお忘れの方", new_user_password_path %>
        </div>
        <div class="field_submit">
          <%= f.submit "送信" %>
        </div>
      <% end %>
    </div>
  </div>
</div>